// Variables
$primary-color: #003865;
$background-color: #f4f4f9;
$text-color: #333;
$button-radius: 4px;
$font-family: 'Roboto', sans-serif;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

// Global Styles
* {
    font-family: $font-family;
}

body {
    background-color: $background-color;
    color: $text-color;
}

// Labels
label {
    font-weight: bold;
}

// Buttons
button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: $button-radius;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

    &.button-blue {
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color;
        }
    }
}

// Headings
h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: $primary-color;
}

h2 {
    font-weight: 700;
}

// Container
.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;
}

// Form Group
.form-group {
    margin-bottom: 15px;
}